/* Full Project */

body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    overflow: hidden
}

/* Hover effecs on Landing */

@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: 1px solid white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}

/* Landing Page */

#landingWrapper {
    background-color: black;
    align-items: center;
    color: white;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#landingLogoWrapper {
    display: flex;
    align-items: center;
    height: 68vh;
}

#landingLogo {
    height: 55vh;
}

#verification {
    font-size: 2.5vw;
}

#landingButtonContainer {
    display: flex;
    width: 40vw;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vw;
}

#landingHome {
    text-decoration: none;
}

.landingButton, .landingButton:hover {
    text-decoration: none;
    color: white;
    padding: 1.3vh;
    border-radius: 5px;
    padding-top: 1vh
}

/* Header */

#headerWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 12vh;
    position: sticky;
}

#headerWrapper a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

#leftHeader, #rightHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 39vw;
}

#headerLogoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vh;
    width: 22vh;
    background-color: black;
    border-radius: 400px;
    overflow: hidden;
    margin-top: 8vh;
}

#headerLogo {
    height: 17vh;
}

/* Home */

#homeWrapper {
    height: 88vh;
    width: 100%;
    background-color: rgb(206, 206, 206);
}

/* About */

#aboutWrapper {
    height: 88vh;
    width: 100%;
    background-color: rgb(206, 206, 206);
}

/* Gallery */

@keyframes open {
    0% {
        height: 0vh;
        width: 80vw;
    }
    100% {
        height: 53vh;
        width: 80vw;
    }
}

@keyframes close {
    0% {
        height: 53vh;
    }
    100% {
        height: 0vh;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#galleryWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 88vh;
    width: 100%;
    background-color: rgb(206, 206, 206);
}

#personalWork, #collabWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

#openPersonal, #openCollab {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personalSubtitle:hover, #collabSubtitle:hover {
    text-shadow: 0px 0px 20px black;
    cursor: pointer;
}

.gallery {
    font-size: 2vw;
}

.showGallery {
    overflow: hidden;
    height: 53vh;
    animation: open .5s ease-in forwards;
    width: 80vw;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(206, 206, 206, 0.459) 75%);
}

.hideGallery {
    overflow: hidden;
    animation: close .5s ease-in;
    animation-fill-mode: forwards;
    width: 80vw;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(206, 206, 206, 0.459) 75%);
}

/* #galleryContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53vh;
    animation: fade-in 0.7s ease-in;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
} */

#innerCaraWrapper {
    height: 40vh;
    width: 50vw;
    border: 1px solid green
}

.carouselImage {
    height: 45vh;
}

/* Carousel */

.galFadeIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53vh;
    animation: fade-in 0.7s ease-in;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.galFadeAway {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53vh;
    animation: fade-out 0.25s ease-in;
    animation-fill-mode: forwards;
    /* display: none !important; */
}

#rotatingCarousel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65vw;
}

#left, #right {
    /* css for left and right buttons */
    width: 5vw;
}

#imageContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 55vw;
}

.largeImage {
    height: auto;
    max-height: 50vh;
    width: 20vw;
    z-index: 5;
    position: absolute;
    box-shadow: 0px 3px 90px 30px white;
}

.smallImage {
    height: auto;
    width: 14vw;
    opacity: .7;
}

/* Merch */

#merchWrapper {
    height: 88vh;
    width: 100%;
    background-color: rgb(206, 206, 206);
}

/* Contact */

#contactWrapper {
    height: 88vh;
    width: 100%;
    background-color: rgb(206, 206, 206);
}